# Ignore any file named foo.txt.
/bin/DbUnit
/bin/ModbusMasterUnit
/bin/ScriptUnit
/bin/DataModel
/bin/ClimateControlSystem
/bin/Imitator
/bin/Imitator2


Makefile
.qmake.stash

/build/**
/lib/**
/InternalLibraries/Temp/**

# except foo.html which is maintained by hand.
#!foo.html


# Ignore objects and archives.
#*.[oa]
*.pro.user
