# Ignore any file named foo.txt.
/bin/ClimateControlSystem
Makefile
.qmake.stash

/build/**
/lib/*


# except foo.html which is maintained by hand.
#!foo.html


# Ignore objects and archives.
#*.[oa]
*.pro.user
